---
import { Icon } from "astro-icon/components";
import Layout from "../../layouts/Layout.astro";
import '../../styles/global.css';
---

<Layout>
<section class="w-full flex flex-col justify-center items-center">
  <Icon name={"kairo"} class={"w-[185px] h-[31px]"}/>
  <div class="relative w-[220px] h-[268px] mt-[22px]">
    <div class={`overflow-hidden`} style={`width: 220px; height: 267px;`}>
							<img src={`/thank.webp`} alt="Imagen de gracias de Kairo Signs" style="display: block; width: auto; height: auto;" />
						</div>
    <div class="absolute bottom-0 left-0 w-full h-[66px] z-10" style="background: linear-gradient(0deg, #FAFAFA -0.01%, rgba(247, 247, 247, 0.00) 100%);"></div>
  </div>
  <div class="flex flex-col justify-center items-center gap-6 mt-[19px]">
    <h2 class="text-[24px] font-bold leading-[28px] text-center">Thank you!</h2>
    <p class="font-heveltica text-[14px] font-normal leading-[140%] max-w-[264px] text-center">Your feedback is what helps us to be better, we will always work to make your experience the best posible.</p> 
    <a href="/" class="w-full">
      <button class="bg-primary-light rounded-[10px] py-[10px] text-center text-[14px] text-white font-medium leading-[140%] w-full font-heveltica" >Back to main page</button> 
    </a>
  </div>
</section>
</Layout>