---

---
<div class="w-full rounded-[10px] flex justify-center items-center mt-[9px]">
			<div class="w-[204px] py-[10px] px-5 bg-background-prim rounded-l-[10px]">
				<p class="font-heveltica text-[14px] font-medium leading-[140%] text-[#8E8E8E]">Join mailing list</p>
			</div>
			<button class="flex-1 py-[10px] px-5 bg-secondary text-white font-heveltica text-[14px] font-medium leading-[140%] rounded-r-[10px]">Subscribe</button>
		</div>