---
import { Icon } from "astro-icon/components";
import Layout from "../../layouts/Layout.astro";
import '../../styles/global.css';
---

<Layout>
  <a href="/rate">
    <Icon name={'back'} class={"w-[20px] h-[20px] absolute top-8 left-6"}/>
  </a>
	
	<section class="w-full flex flex-col justify-center items-center gap-4">
		<h2 class="text-[24px] font-bold leading-[140%] text-start">Your words make us improve</h2>
	</section>
</Layout>